<load href='__PUBLIC__/Css/business.css' />
<div class="x-business">
	<ul>
		<volist name="list" id="vo">
		<li>
			<if condition="$vo['index']%2 eq 1">
				<div class="business-image" style="border-right:2px solid #333333">
					<img src="__PUBLIC__/{$vo.company_image}" />
				</div>
				<div class="business-part">
					<h2 class="business-title">
						<img src="__PUBLIC__/{$vo.title_image}" style="height:40px"/>
					</h2>
					<h4 class="birth">——始於{$vo.birthday}年</h4>
					<HR style="FILTER: alpha(opacity = 100, finishopacity = 0, style = 3)" width="90%" color=#333333 SIZE=2>
					<div class="text">{$vo.description}</div>
				</div>
			<else />
				<div class="business-part">
					<h2 class="business-title">
						<img src="__PUBLIC__/{$vo.title_image}" style="height:40px"/>
					</h2>
					<h4 class="birth">——始於{$vo.birthday}年</h4>
					<HR style="FILTER: alpha(opacity = 100, finishopacity = 0, style = 3)" width="90%" color=#333333 SIZE=2>
					<div class="text">{$vo.description}</div>
				</div>
				<div class="business-image">
					<img src="__PUBLIC__/{$vo.company_image}" style="border-left:2px solid #333333"/>
				</div>
			</if>
		</li>
		</volist>
	</ul>
</div>