<div class="x-main full" role="main">
				<div id="x-content-band-1" class="x-content-band white bg-image man">
					<div class="x-container max width">
						<p style="text-align:center;">
						<img class="quanquan" src="./src/qq.png"/></p>
						<h3 style="text-align:center">
							Some people hear their own inner voices with great clearness. And they live by what they hear.Such people become crazy, or they become legends ...
						</h3>
					</div>
				</div>

				<div class="banner">
					<ul>
						<volist name="banner" id="vo">
							<li style="width:{100 / $vo->count()}%;background-image:url('__PUBLIC__/{$vo.banner_image_url}')"></li>
						</volist>
					</ul>
				</div>

				<div class="x-partner">
					<div class="pat-pic">

						<p><img src="./src/logo排列.png"/><p>
					</div>
				</div>
			</div>