<load href='__PUBLIC__/Css/index.css' />
<load href='__PUBLIC__/Js/jquery-2.1.1.js' />
<load href='__PUBLIC__/Js/unslider.js' />
<div class="x-main full" role="main">
				<div id="x-content-band-1" class="x-content-band white bg-image man">
					<div class="x-container max width">
						<p style="text-align:center;">
								<img class="quanquan" src="__PUBLIC__/{$companys}"/>
							</p>
								<h3 style="text-align:center">
							Some people hear their own inner voices with great clearness. And they live by what they hear.Such people become crazy, or they become legends ...
						</h3>
					</div>
				</div>

				<div class="banner">
					<ul>
						<volist name="bannerImg" id="vo">
							<li style="width:{$bannerWidth}%;">
								<img src="__PUBLIC__/{$vo.banner_image_url}" />
							</li>
						</volist>
					</ul>
				</div>

				<div class="x-partner">
					<div class="pat-pic">
						<p><img src="__PUBLIC__/{$coCompany}"/><p>
					</div>
				</div>
			</div>
			<script type="text/javascript">

			    var unslider = $('.banner').unslider();

			    $('.unslider-arrow').click(function() {
			        var fn = this.className.split(' ')[1];

			        //  Either do unslider.data('unslider').next() or .prev() depending on the className
			        unslider.data('unslider')[fn]();
			    });
			 
			</script>

